body {
  background-color: #3c63ee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../img/background.png");
  background-repeat: repeat;
  background-size: 50px 50px;
  animation: animatedBackground 20s linear infinite;
}

@media only screen and (min-width: 820px) {
  body {
    animation: animatedBackground 60s linear infinite;
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 100%;
  }
}
